body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr; /* Divide o container em duas colunas */
    gap: 10px; /* Espaçamento entre as colunas */
    background: #fff;
    max-width: 1300px;


}
.container-task {
   
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    grid-column: 1; /* Coloca o calendário na primeira coluna */
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

}
.container-calendar {
    grid-column: 2; /* Coloca o calendário na primeira coluna */
    width: 400px; /* Largura do calendário */
    height: 400px; /* Altura do calendário */
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

}


h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f8f8f8;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.complete-button{
    margin-right:5px;
    margin-left: 5px;
}
li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #c82333;
}
li.completed {
    text-decoration: line-through;
    color: gray;
}
#alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f8d7da; /* Cor de fundo do alerta */
    color: #721c24; /* Cor do texto do alerta */
    border: 1px solid #f5c6cb; /* Borda do alerta */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Certifique-se de que o alerta esteja acima de outros elementos */
    display: none; /* Ocultar por padrão */
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    animation: fadeOut 5s forwards;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
.button-container {
    float: right;
    width: 200px;
    margin-right: -5%;
}
/*
#card-container {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.input-container {
    display: flex;
    gap: 10px;
}

#card-list {
    margin-top: 20px;
}

#alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}
*/
#task-stats {
    margin-top: 10px;
    font-weight: bold;
}

#task-stats div {
    margin-bottom: 5px;
}
#task-count {
    margin-top: 10px;
    font-weight: bold;
}

.task-statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 20px; /* Espaçamento entre os cards */
    padding: 10px;
    padding-bottom: 20px;
}

.statistic-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra estilo card */
}

.statistic-card p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.statistic-card span {
    font-weight: bold;
}
